body{
  background-color: black;
}


.first{
  background-color: black;
  padding-bottom: 80px;
}

.second{
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 80px;
}

.pc{
  text-align: center;
  padding-top: 80px;
}
